@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


$carbon-black: #3d3d3d;
$carbon-black-2: rgb(81, 81, 81);
// $carbon-black: #242424;
$light-grey: #d8d7d7;
$grey: #c9c9c9;
$dark-grey: #727272;

// max-width properties:
// Medium
$medium-screen: 1092px;
$mobile-screen: 900px;
$mini-screen: 673px;
$smallest-screen: 600px;
$actual-mobile: 459px;

$stats-response: 850px;
// Small - Mobile



// ---------------------------------------------------------------------------------- NAV BAR

// Bigger Screen (BASE)


header {
    background-color: $carbon-black;
}

.navbar {
    height: 4.15em;

    ul {
        margin: 0em 0em 0em 0em;
    }

    .nav-logo {
        position: absolute;
        left: 4.5em;
        width: 6em;
        display: flex;
        gap: 2em;
        z-index: 999;
    }


    .nav-menu {
        position: absolute;
        right: 4.5em;
        gap: 5em;
        display: flex;
        font-family: 'Press Start 2P';
        font-size: 0.775em;

        .nav-item {
            display: flex;
            list-style: none;


            a {
                color: #ffffff;
            }
        }
    }
}




.hamburger {
    position: absolute;
    right: 2em;
    top: 1.05em;
    display: none;
    cursor: pointer;

    .cacti-menu {
        display: block;
        width: 44px;
        height: 44px;
    }

    .menu-sword {
        opacity: 0;
        position: absolute;
        top: 0em;
        right: 1em;
        height: 9.25px;
        width: 9.25px;
    }
}


// Smaller Screen (Animation Navbar)

@media(max-width:$medium-screen){
    .hamburger{
        display: block;

        .cacti-menu {
            visibility: visible; // Fade In Cacti - After Closing Sword Tab
            opacity: 1;
            transition: opacity 0.25s linear;
        }
    }



    .hamburger.active .cacti-menu:nth-child(1) {    
        visibility: hidden; // Fade Out Cacti - After Closing Sword Tab
        opacity: 0;
        transition: visibility 0s 0.1s, opacity 0.1s linear;  
    }

    .hamburger.active .menu-sword:nth-child(2) {
        visibility: visible; // Fade In Sword on Menu Open
        opacity: 1;
        transition: opacity 0.4s linear;
        transform: translate(13px) rotate(45deg);

        
    }

    .hamburger.active .menu-sword:nth-child(3) {
        visibility: visible; // Fade In Sword on Menu Open
        opacity: 1;
        transition: opacity 0.4s linear;
        transform: translate(-13px) rotate(-45deg);

    }
    


    .nav-menu {
        position: absolute;
        width: 100%;
        top: -10em;
        left: 0em;
        height: 10em;
        background-color: $carbon-black;
        display: block !important;
        transition: 0.4s; // Nav Fade In & Out

        .nav-item {
            display: flex;
            margin: 0em 3em 0em 0em;
            // right: 3em;
            justify-content: center;

            visibility: hidden; // Fade Out Text
            opacity: 0;
            transition: visibility 0s 0.15s, opacity 0.15s linear;
        
    }


    }


    .nav-menu.active {
        // left: -1em;
        position: absolute;
        width: 100%;
        top: 1.75em;
        left: 0em;
        height: 10.6em;
        background-color: $carbon-black;
        display: block !important;
        // top: 20px;
        width: 100%;



        
        // display: block;
        
        .nav-item {
            visibility: visible; // Fade In Text
            display: flex;
            position: relative;
            right: 1.5em;
            justify-content: center;
            padding: 0.175em 0em 0em 0em;
            opacity: 1;
            width: 100%;
            transition: opacity 0.25s linear;
          }
    }

    .nav-logo {
        left: 2em !important;
    }
}


// ---------------------------------------------------------------------------------- HOME PAGE
// ---------------------------------------------------------------------------------- 
// ---------------------------------------------------------------------------------- 

// Form

.main-raster-home {
    position: absolute;
    top: 25.25em;
    width: 100%;

    .main-sub-raster-home {
        padding: 0em 8em 0em 8em !important;
        display: flex;
        justify-content: center;

        .input-group-text {
            position: absolute;
            top: -3.35em;
            display: flex;
            justify-content: center;
            width: 15em;
            transition: 0.1s;
            // min-width: 153em;
            height: 2.43em;
            background-color: $carbon-black;
            color: white;
            border-radius: 5px;
            border: none;
    
        }

        .input-group-text:hover {
            transition: 0.1s;
            background-color: $carbon-black-2;
    
        }

        .form-class {
            position: absolute;
            top: 0em;
            padding: none !important;
            width: 15em;
            transition: 1.5s;
            // display: flex;
            // justify-content: center;
            // width: 15em;
            border-radius: 5px;
            
            .form-control {
                display: block;
                border: 1px solid $light-grey;
            }
    
        }

    }
}


// Pictures Home Page

.gotchi-raster-left {
    position: absolute;
    top: 14.8em;
    left: 0em;
    width: 35%;
    height: 45%;
    display: flex;
    justify-content: center;
    // vertical-align: middle;

    .gotchi-left {
        position: absolute;
        width: 19em;
        margin-right: 2em;
        margin-left: 3.2em;
        // left: 7.5em;
    }

    .medium-left {
        display: none;
    }

    .mobile-left {
        display: none;
    }
    

}

// IMAGE BOTTOM
// .gotchi-raster-bottom {
//     display: none;
// }

.gotchi-raster-right {
    position: absolute;
    top: 14.8em;
    right: 0em;
    width: 35%;
    height: 45%;
    display: flex;
    justify-content: center;
    // vertical-align: middle;

    .gotchi-right {
        position: absolute;
        width: 19em;
        // min-width: 15em;
        margin-right: 3.2em;
        margin-left: 2em;
        // margin: 0em 3.2em 0em 2em;
        // left: 7.5em;
    }

    .medium-right {
        display: none;
    }

    .mobile-right {
        display: none;
    }
    

}



// Medium Screen | Remove Gotchis

@media(max-width:$medium-screen) {

    .gotchi-raster-left {

        .gotchi-left {
            // position: absolute;
            display: none;
            // margin: 0em 3em 0em 3em;
            // left: 7.5em;
        }

        .medium-left {
            position: relative;
            top: 1em;
            display: flex;
            height: 17em;
        }
    }

    .gotchi-raster-right {

    
        .gotchi-right {
            // position: absolute;
            display: none;
            // left: 7.5em;
        }

        .medium-right {
            position: relative;
            top: 1em;
            display: flex;
            height: 17em;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        
    }


    // BOTTOM IMAGE

    // .gotchi-raster-bottom {
    //     position: absolute;
    //     top: 10em;
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;

        

    //     .gotchi-bottom {
    //         height: 5em;
    //     }
    // }

}

// Very small Screen | Remove Axes

@media(max-width:$mobile-screen) {

    .gotchi-raster-left {

        .medium-left {
            display: none;
        }

        .mobile-left {
            position: relative;
            top: 4em;
            display: flex;
            height: 10em;

        }
    }

    .gotchi-raster-right {

        vertical-align: middle;


        .medium-right {
            display: none;
        }

        .mobile-right {
            position: relative;
            top: 4em;
            display: flex;
            height: 10em;

        }
        
    }


}

// Very small Screen | Remove Pitchforks

@media(max-width:$mini-screen) {

    .gotchi-raster-left {

        // .axe-left {
        //     display: none;
        // }

        .mobile-left {
            display: none;

        }
    }

    .gotchi-raster-right {

        vertical-align: middle;


        .medium-right {
            display: none;
        }

        .mobile-right {
            display: none;

        }
        
    }


}

// Adjust Search Bar

@media(max-width:$smallest-screen) {

    .main-raster-home {
    
        .main-sub-raster-home {
            padding: 0em 10em 0em 10em;
    
            .input-group-text {
                width: 12.75em;
                transition: 1.5s;
        
            }
    
            .form-class {
                top: -3em;
                width: 12.75em;
                transition: 1.5s;
                

        
            }
    
        }
    }

}


@media(max-width:$actual-mobile) {

    .main-raster-home {
    
        .main-sub-raster-home {
            padding: 0em 4em 0em 4em !important;
            // top: 13em;
    
            .input-group-text {
                
                width: 11.5em;
                transition: 1.5s;
        
            }
    
            .form-class {
                width: 11.5em;
                transition: 1.5s;
                

        
            }
    
        }
    }

}




// ---------------------------------------------------------------------------------- GOTCHI PAGE
// ---------------------------------------------------------------------------------- 
// ----------------------------------------------------------------------------------


.master-gotchi {
    display: flex;
    justify-content: center;
    

    .gotchi-himself {
        position: absolute;
        height: 18em;
        width: 18em;
        top: 13.5em;
        background: #ffffff;
    

        .gotchi-bg {
            display: none;
        }

        filter: drop-shadow(0px 2px 2.5px $dark-grey);


    }
}

.stats-img-master {
    position: absolute;
    top: 33.75em;
    display: flex;
    justify-content: center;
    width: 100%;

    .stats-img {
        height: 2.5em;
        // position: absolute;
        // display: block;
        margin: 0em 0.25em 0em 0.25em;
        filter: drop-shadow(0px 2px 2.5px $carbon-black);
        transition: 1s;
    }

    .stats-img:hover {
        rotate: 360deg;
        transition: 1s;
    }
}

.stats-text-master {
    position: absolute;
    top: 37.75em;
    display: flex;
    justify-content: center;
    width: 100%;


    .stats-text {
        position: relative;
        left: 0.1em;
        color: white;
        background-color: $carbon-black;
        border: none;
        min-height: 2.75em;
        min-width: 2.75em;
        max-height: 2.75em;
        max-width: 2.75em;
        font-size: 14.25px;
        cursor: pointer;
        // position: absolute;
        // display: block;
        margin: 0em 0.31em 0em 0.31em;
        border-radius: 3px;
        filter: drop-shadow(0px 2px 1px $grey);
        text-align: center;
        display: flex;
        justify-content: center;
        line-height: 2.5em;
    }

    .stats-text:hover {
        filter: drop-shadow(0px 2px 1px #808080);
        // transition: 1s;
        // background: linear-gradient(187deg, rgb(3, 44, 140) 0%, rgb(21, 106, 175) 35%, rgb(83, 106, 209) 100%);
        background: linear-gradient(187deg, rgb(221, 47, 198) 0%, rgb(234, 91, 215) 35%, rgb(253, 128, 238) 100%);
        transition: 1s;
    }
}

.master-back-button {
    position: absolute;
    top: 9.25em;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    transition: opacity 0.225s ease-in; // Appear animation
    opacity: 1;

    .js-thing-ignore {
        display: flex;
        justify-content: center;
        height: 2.5em;
        width: 8em;
        cursor: default;

        .back-button {
            position: absolute;
            align-self: center;
            background-color: $carbon-black;
            color: white;
            min-width: 7em;
            min-height: 2em;
            border-radius: 4.5px;
            border: 0px;
            // min-height: 1.75em;
            color: #fffff3;
            font-size: 1.1em;
            box-shadow: 0px 2px 12px -6px $carbon-black;
    
        }


        .back-button:hover {
            background: linear-gradient(187deg, rgb(72, 8, 155) 0%, rgb(80, 21, 175) 35%, rgb(157, 83, 209) 100%);
            // background: linear-gradient(187deg, rgb(221, 47, 198) 0%, rgb(234, 91, 215) 35%, rgb(253, 128, 238) 100%);
            box-shadow: 0px 2px 12px -4px $carbon-black;
            transition: 1s;
        }


    }

}

.master-back-button.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-out // Dissapear animation
  }


@media(max-width:$actual-mobile) {

    .master-gotchi {
        
    
        .gotchi-himself {
            height: 13.5em;
            width: 13.5em;
            top: 11.8em;
            // background: #ffffff;
            // box-shadow: 0px 2px 12px -4px $carbon-black;
        }
    }


    .stats-img-master {
        top: 27.25em;

    
        .stats-img {
            // position: absolute;
            // display: block;
            margin: 0em 0.25em 0em 0.25em;
            height: 2.25em;
            filter: drop-shadow(0px 2px 2.5px $carbon-black);
            transition: 1s;
        }
    
    }
    
    .stats-text-master {
        top: 30.85em;
    
        .stats-text {
            min-height: 2.5em;
            min-width: 2.5em;
            max-height: 2.5em;
            max-width: 2.5em;
            margin-bottom: 5em;
            // line-height: 2.5em;
        }

    }

    .master-back-button {
        position: absolute;
        top: 8em;
        width: 100%;
        height: 2em;
    
        .js-thing-ignore {

            height: 2em;
            width: 7em;
    
            .back-button {
                min-width: 7em;
                min-height: 2em;
                border-radius: 4.5px;
                border: 0px;
                font-size: 1em;

        
            }
    
    
        }
    
    }


}

// ---------------------------------------------------------------------------------- STAT PAGE(S)
// ---------------------------------------------------------------------------------- 
// ---------------------------------------------------------------------------------- 


.master-stats-focus {
    position: relative;
    top: 15.75em;
    height: 11em;
    display: flex;
    justify-content: center;


    .curve-img {
        filter: drop-shadow(0px 2px 2.5px $carbon-black);
        transition: 1s;
    }
}

.stats-page {
    position: relative;
    top: 10.25em;
    display: flex;
    justify-content: center;

    .stats-object {
        position: relative;
        bottom: 12em;
        height: 3.15em;
        filter: drop-shadow(0px 2px 2.5px $carbon-black);
        transform: rotate(0deg);
        transition: transform 1s;

    }

    .stats-object:hover {
        transform: rotate(360deg);
    }

    .stats-object:not(:hover) {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
      }

    to {
        transform: rotate(360deg);
      }
}

.curve-numbers {
    position: relative;
    top: 16.75em;
    display: flex;
    justify-content: center;
    height: 2em;

    .stat-number-under-curve {
        width: 7em;
        text-align: center;
        color: $dark-grey;
        font-size: 1.2em;
    }
}

.stats-explanation {    
    position: relative;
    top: 14.25em;
    display: flex;
    justify-content: center;

    .left-of-curve {
        margin-right: 8em !important; // new
        font-size: 1.1em; // new
        text-align: center !important;
        width: 8.8em;
        height: 2.4em;
        margin: 0.9em;
        padding-bottom: 0.1em;
        background-color: $carbon-black;
        filter: drop-shadow(0px 2px 2.5px $light-grey);
        border: none;
        border-radius: 0.5em;
        color: white;
        transition: 0.5s;

    }

    .left-of-curve:hover {
        background-color: #650acd;
        transition: 0.5s;
        cursor: pointer;
    }

    .right-of-curve {
        margin-left: 8em !important; // new
        font-size: 1.1em; // new
        text-align: center !important;
        color: #4b4b4b;
        width: 8.8em;
        height: 2.4em;
        margin: 0.9em;
        padding-bottom: 0.1em;
        background-color: $carbon-black;
        filter: drop-shadow(0px 2px 2.5px $light-grey);
        border: none;
        border-radius: 0.5em;
        color: white;
        transition: 0.5s;
    }

    .right-of-curve:hover {
        background-color: #650acd;
        transition: 0.5s;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    top: 12.5em !important;
    padding: 0em 3.5em 0em 3.5em;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;

    .modal-dialog {
        // does nothing
        .modal-content {
            min-height: 20em;
            .modal-header {
                .modal-title {
                    font-size: 1.25em;
                }   
            }
        }
    }
}


@media(max-width:$stats-response) {

    .master-stats-focus {
        position: relative;
        top: 17em;
        height: 6.65em;
        display: flex;
        justify-content: center;
    }

    .stats-page {

        position: relative;
        top: 16.75em;
        display: flex;
        justify-content: center;
    
        .stats-object {
            bottom: 11.75em;
            height: 2.45em;
        }
    }

    .curve-numbers {
        top: 17.75em;
    
        .stat-number-under-curve {
            width: 5.1em;
            font-size: 1em;
        }
    }

    .stats-explanation {    
        top: 15.25em;
    
        .left-of-curve {
            margin-right: 3.5em !important;
            font-size: 1.025em;
            width: 8.8em;
            height: 2.4em;
        }

        .right-of-curve {
            margin-left: 3.5em !important;
            font-size: 1.025em;
            text-align: center !important;
            width: 8.8em;
            height: 2.4em;
        }
    }
}

@media(max-width:$actual-mobile) {

    .master-stats-focus {
        position: relative;
        top: 14.75em;
        height: 5.25em;
        display: flex;
        justify-content: center;
    }

    .stats-page {

        position: relative;
        top: 16em;
        display: flex;
        justify-content: center;
    
        .stats-object {
            bottom: 11.825em;
            height: 2.1em;
        }
    }

    .curve-numbers {
        top: 15.75em;
    
        .stat-number-under-curve {
            width: 4em;
            font-size: 1em;
        }
    }

    .stats-explanation {    
        top: 14em;
    
        .left-of-curve {
            margin-right: 1.2em !important;
            font-size: 0.7em;
            width: 10em;
            height: 2.4em;




        }

        .right-of-curve {
            margin-left: 1.2em !important;
            font-size: 0.7em;
            text-align: center !important;
            width: 10em;
            height: 2.4em;
        }
    }

    

}


// ---------------------------------------------------------------------------------- ABOUT PAGE
// ---------------------------------------------------------------------------------- 
// ---------------------------------------------------------------------------------- 

.about-text-1 {
    position: absolute;
    top: 11.5em;
    width: 100%;
    display: block;

    .about-title-1 {
        text-align: center;
        margin: 0em 2em 0em 2em !important;
    }

    .about-paragraph-1 {
        text-align: center;
    }
}

.about-gotchi-master {
    position: absolute;
    top: 17em;
    width: 100%;
    display: flex;
    justify-content: center;

    .about-gotchi {
        height: 20em;
        cursor: pointer;
        filter: drop-shadow(0px 2px 2.5px $dark-grey);
    }
}

@keyframes bounce {
    0%, 100% {
        top: 0.5em;
      }
      50% {
        top: 0em;
      }
}

.down-arrow-master {
    position: absolute;
    width: 100%;
    top: 37.5em;
    display: flex;
    justify-content: center;

    .down-arrow {
        position: absolute;
        animation: bounce 1s infinite;
        height: 5em;
        rotate: 270deg;
        z-index: -1;
    }
}


.about-text-bottom-master {
    position: absolute;
    top: 45em;
    width: 100%;

    .about-text-2 {
        // position: relative;
        // top: 41em;
        display: flex;
        justify-content: center;
        width: 100%;
        display: block;
    
        .about-title-2 {
            margin: 0em 2.5em 0em 2.5em !important;
            text-align: center;
        }
    
        .about-paragraph-2 {
            position: relative;
            top: 0.25em;
            margin: 0em 3.5em 2.5em 3.5em !important;
            text-align: center;
        }
    }
    
    .about-text-3 {
        position: relative;
        // top: 38.25em;
        // width: 100%;
        display: block;
    
        .about-paragraph-3 {
            text-align: center;
            // margin: 25px 0 !important;
            margin: 0em 3.5em 0em 3.5em !important;
        }
    }
    
    .about-text-4 {
        // position: relative;
        // top: 37.25em;
        width: 100%;
        // height: 100%;
        display: flex;
        justify-content: center;
    
        .about-paragraph-4 {
            // position: absolute;
            // bottom: 0em;
            text-align: center;
            // margin: 25px 0 !important;
            margin: 2.5em 3.5em 5em 3.5em !important;
        }
    }


}



@media(max-width:$actual-mobile) {

    .about-gotchi-master {
        top: 18.5em;
    
        .about-gotchi {
            height: 18.5em;
        }
    }

    .down-arrow-master {
        position: relative;
        top: 1.1em;
    
    }

    .about-text-bottom-master {
        top: 40.5em;

    }
}



// ---------------------------------------------------------------------------------- CONTACT PAGE
// ---------------------------------------------------------------------------------- 
// ---------------------------------------------------------------------------------- 

.contact-text-1 {
    position: absolute;
    top: 11.5em;
    width: 100%;
    display: block;

    .contact-title-1 {
        text-align: center;
        font-size: 2em;
    }

    .contact-paragraph-1 {
        text-align: center;
        font-size: 1.2em;
    }
}

.contact-icons {
    position: absolute;
    top: 22.05em;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;

    .discord-master {
        position: relative;
        // top: 1em;


        .discord-icon {
            position: relative;
            top: 0.08em;
            right: -1.125em;
            height: 2.8em !important;
            max-height: 3em;
            cursor: pointer;
            z-index: 999;

        }

        .discord-bg {
            position: relative;
            top: -3.75em;
            // right: 1.125em;
            display: block;
            margin: 0em 0.5em 0em 0.5em;
            height: 5em;
            width: 5em;
            background-color: $carbon-black;
            border-radius: 7.5px;
            transition: 0.3s;
            cursor: pointer;
            // z-index: 99;

        }

    }

    .discord-master:hover {
        filter: drop-shadow(0px 0px 5px #7122f8);
        transition: 0.3s;
    }

    .twitter-master {
        position: relative;
        // top: 1em;


        .twitter-icon {
            position: relative;
            top: 0.08em;
            right: -1.3em;
            height: 2.8em !important;
            max-height: 3em;
            cursor: pointer;
            z-index: 999;

        }

        .twitter-bg {
            position: relative;
            top: -3.75em;
            // right: 1.125em;
            display: block;
            margin: 0em 0.5em 0em 0.5em;
            height: 5em;
            width: 5em;
            background-color: $carbon-black;
            border-radius: 7.5px;
            transition: 0.3s;
            cursor: pointer;
            // z-index: 99;

        }

    }

    .twitter-master:hover {
        filter: drop-shadow(0px 0px 5px #0693ff);
        transition: 0.3s;
    }


    .gmail-master {
        position: relative;
        top: -0.77em;
        // top: 1em;


        .gmail-icon {
            position: relative;
            top: 0.465em;
            left: 1.225em;
            height: 3.55em !important;
            filter: brightness(0) invert(1);
            cursor: pointer;
            z-index: 999;

        }

        .gmail-bg {
            position: relative;
            top: -3.75em;
            display: block;
            margin: 0em 0.5em 0em 0.5em;
            height: 5em;
            width: 5em;
            background-color: $carbon-black;
            border-radius: 7.5px;
            transition: 0.3s;
            cursor: pointer;

        }

    }

    .gmail-master:hover {
        filter: drop-shadow(0px 0px 5px #d20202);
        transition: 0.3s;
    }
}



.custom-popup {
    position: relative;
    left: 8.5em;
    right: 0;
    top: 25.5em;
    width: 17em;
    height: 4.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  
    &.show {
      opacity: 1;
    }

    .popup-text {
        color: $dark-grey;
        position: relative;
        text-align: center;
    }
  }


@media(max-width:$actual-mobile) {

    .contact-text-1 {
        position: absolute;
        top: 11.5em;
        width: 100%;
        display: block;
    
        .contact-title-1 {
            font-size: 1.65em;
        }
    
        .contact-paragraph-1 {
            font-size: 1em;
        }
    }
    
    .contact-icons {
        top: 20.5em;
    
        .discord-master {
    
            .discord-icon {
                height: 2.4em !important;
    
            }
    
            .discord-bg {
                top: -3.4em;
                height: 4.5em;
                width: 4.5em;

                transition: 0.3s;
    
            }
    
        }
    
    
        .twitter-master {
    
            .twitter-icon {
                height: 2.45em !important;
    
            }
    
            .twitter-bg {
                top: -3.45em;
                height: 4.5em;
                width: 4.5em;
                transition: 0.3s;
    
            }
    
        }
    
    
    
        .gmail-master {
    
    
            .gmail-icon {
                position: relative;
                top: 0.43em;
                height: 3em !important;
    
            }
    
            .gmail-bg {
                top: -3.235em;
                height: 4.5em;
                width: 4.5em;
    
            }
    
        }
    
    }
    
    
    
    .custom-popup {

        top: 23.5em;

  }

}


// ---------------------------------------------------------------------------------- ERRORS: GOTCHI NOT FOUND


.portal-master {
    position: relative;
    top: 10.5em;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;

    .closed-portal {

        height: 21em;
    }
}

.not-summoned-master {
    position: relative;
    top: 12.5em;
    display: flex;
    justify-content: center;

    .not-summoned-text {
        text-align: center;
        font-size: 1.1em;
        font-weight: 700;
    }
}