{% extends 'stats/stats_template.html' %}

{% block stat_img %}

<div class="stats-page">
  <img class="stats-object" src="/static/images/stats/agg.png" alt="nrg.png">
</div>

{% endblock %}

{% block left_button %}
  Defense Power
{% endblock %}


{% block right_button %}
  Attack Speed
{% endblock %}


{% block left_modal_title  %}
  Defense Power
{% endblock %}


{% block right_modal_title %}
  Attack Speed
{% endblock %}


{% block left_modal_content %}
  When your gotchi has low aggression, it has good capability of resisting attack. It means your gotchi can take more damage before fainting! STRONK
{% endblock %}


{% block right_modal_content %}
  High Aggression gotchis have the capability of attacking other gotchis much faster. They are aggressive and therefore are ready to hit their opponent with higher Damage Per Second!
{% endblock %}