{% extends 'stats/stats_template.html' %}

{% block stat_img %}

<div class="stats-page">
  <img class="stats-object" src="/static/images/stats/brn.png" alt="brn.png">
</div>

{% endblock %}

{% block left_button %}
  Melee Attack
{% endblock %}


{% block right_button %}
  Ranged Attack
{% endblock %}


{% block left_modal_title  %}
  Melee Attack
{% endblock %}


{% block right_modal_title %}
  Ranged Attack
{% endblock %}


{% block left_modal_content %}
    A small brained gotchi is capable of a stronger melee attacks, make sure you have the right weapon equipped to utilize this true warrior power!
{% endblock %}


{% block right_modal_content %}
    A big brained gotchi is capable of a stronger ranged attacks, make sure you have the right weapon equipped to utilize this true archer power!
{% endblock %}
