{% extends 'stats/stats_template.html' %}


{% block stat_img %}

<div class="stats-page">
  <img class="stats-object" src="/static/images/stats/eyc.png" alt="eyc.png">
</div>

{% endblock %}


{% block left_button %}
    To Be Decided
{% endblock %}


{% block right_button %}
    To Be Decided
{% endblock %}


{% block left_modal_title  %}
    ...
{% endblock %}


{% block right_modal_title %}
    ...
{% endblock %}


{% block left_modal_content %}
  The special power of left-side curved Eye Color are yet to be decided!
{% endblock %}


{% block right_modal_content %}
    The special power of right-side curved Eye Color are yet to be decided!
{% endblock %}