{% extends 'stats/stats_template.html' %}


{% block stat_img %}

<div class="stats-page">
  <img class="stats-object" src="/static/images/stats/spk.png" alt="spk.png">
</div>

{% endblock %}



{% block left_button %}
  AP & HP Regen
{% endblock %}


{% block right_button %}
    Ethereality
{% endblock %}


{% block left_modal_title  %}
  AP & HP Regeneration
{% endblock %}


{% block right_modal_title %}
  Ethereality
{% endblock %}


{% block left_modal_content %}
  A gotchi with low Spookiness has the ability to rapidly regenerate it's Health and Action Points. A true Regen Beast!
{% endblock %}


{% block right_modal_content %}
  A gotchi with high Spookiness has more Luck, skills like critical hits, teleporting through walls, and dodging attacks won't be uncommon for this power. A true Degen!
{% endblock %}