{% extends 'base.html' %}

{% block content %}

<div class="about-text-1">
    <h1 class="about-title-1">Hello</h1>
    <p class="about-paragraph-1">My name is names</p>
</div>

<div class="about-gotchi-master">
    <img class="about-gotchi" src="/static/images/Brand/gotchis/names.svg" alt="names.svg">
</div>

<div class="down-arrow-master">
    <img class="down-arrow" src="/static/images/icons/arrow.png" alt="arrow.png">
</div>


<div class="about-text-bottom-master">

    <div class="about-text-2">
        <h4 class="about-title-2">I made GotchiExplorer</h4>
        <p class="about-paragraph-2">a tool for you to discover aavegotchis' stats.</p>
        </p>
    </div>

    <div class="about-text-3">
        <p class="about-paragraph-3">I try to keep things simple and clean so that you can understand everything clear.</p>
    </div>

    <div class="about-text-4">
        <p class="about-paragraph-4">Now without further ado.. let's get exploring..</p>
    </div>


</div>

{% endblock %}