{% extends 'base.html' %}

{% block content %}

<div class="contact-text-1">
    <h2 class="contact-title-1">Feel free to reach out</h2>
    <p class="contact-paragraph-1">for whatever reason.</p>
</div>

<div class="contact-icons">
    <img class="discord-icon" src="/static/images/icons/contact/discord.png" alt="discord.png">
    <img class="twitter-icon" src="/static/images/icons/contact/twitter.png" alt="twitter.png">
    <img class="gmail-icon" src="/static/images/icons/contact/gmail.png" alt="gmail.png">
</div>

<div class="background-icons">
    <span class="discord-bg"></span>
    <span class="twitter-bg"></span>
    <span class="gmail-bg"></span>
</div>


{% endblock %}