{% extends "base.html" %}


{% block content %}

{% include 'back_button.html' %}


<div class="master-gotchi">

        {% for svg_data in return_svg %}

                <svg class="gotchi-himself">{{ svg_data |safe }}</svg>

        {% endfor %}

</div>


<div class="stats-img-master">

    <a href="http://127.0.0.1:8000/nrg/"><img class="stats-img" src="/static/images/stats/nrg.png" alt="nrg.png"></a>
    <a href="http://127.0.0.1:8000/agg/"><img class="stats-img" src="/static/images/stats/agg.png" alt="agg.png"></a>
    <a href="http://127.0.0.1:8000/spk/"><img class="stats-img" src="/static/images/stats/spk.png" alt="spk.png"></a>
    <a href="http://127.0.0.1:8000/brn/"><img class="stats-img" src="/static/images/stats/brn.png" alt="brn.png"></a>
    <a href="http://127.0.0.1:8000/eys/"><img class="stats-img" src="/static/images/stats/eys.png" alt="eys.png"></a>
    <a href="http://127.0.0.1:8000/eyc/"><img class="stats-img" src="/static/images/stats/eyc.png" alt="eyc.png"></a>

</div>


<div class="stats-text-master">
    <a href="http://127.0.0.1:8000/nrg/"><button class="stats-text">{{ text_stat_list.0 }}</button></a>
    <a href="http://127.0.0.1:8000/agg/"><button class="stats-text">{{ text_stat_list.1 }}</button></a>
    <a href="http://127.0.0.1:8000/spk/"><button class="stats-text">{{ text_stat_list.2 }}</button></a>
    <a href="http://127.0.0.1:8000/brn/"><button class="stats-text">{{ text_stat_list.3 }}</button></a>
    <a href="http://127.0.0.1:8000/eys/"><button class="stats-text">{{ text_stat_list.4 }}</button></a>
    <a href="http://127.0.0.1:8000/eyc/"><button class="stats-text">{{ text_stat_list.5 }}</button></a>

    <!-- {% for stat in text_stat_list %}
    <button class="stats-text">{{ stat }}</button>
    {% endfor %} -->
</div>


{% endblock %}

