{% extends 'base.html' %}




{% block content %}



<div class="explore-raster-left">
  <div class="explore-title-left">
    <a href="http://gotchiexplorer.com/gotchi"><h1 class="explore-gotchis">Explore Gotchis</h1></a>
  </div>
  <div class="gotchis-raster-left">
   <a href="http://gotchiexplorer.com/gotchi"><img class="gotchis-left-1" src="/static/images/Brand/gotchis/rainbowWiz.svg" alt="gotchi-left.svg"></a>
  </div>
</div>



<div class="explore-raster-right">
  <div class="explore-title-right">
    <a href="http://gotchiexplorer.com/wearable"><h1 class="explore-wearables">Explore Wearables</h1></a>
  </div>
  <div class="wearables-raster-right">
    <a href="http://gotchiexplorer.com/wearable"><img class="wearables-right-1" src="/static/images/Brand/icons/wearables/wearableCollection-1.svg" alt="wearables-right.svg"></a>
  </div>
</div>






{% endblock %}