{% extends "base.html" %}


{% block content %}

{% include 'back_button/back_button.html' %}

<div class="portal-counter-master">
    <div class="h1-counter">
        <img class="h1-counter-icon" src="/static/images/Brand/portals/h1Closed.svg" alt="nrg.png">
        <h1 class="h1-counter-text">{{ h1_portals.h1.closed }}</h1>
    </div>

    <div class="h2-counter">
        <img class="h2-counter-icon" src="/static/images/Brand/portals/h2Closed.svg" alt="nrg.png">
        <h1 class="h2-counter-text">{{ h2_portals.h2.closed }}</h1>
    </div>
</div>



{% endblock %}